@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&display=swap");
:root {
  --primaryColor: #50beff;
}
* {
  margin: 0;
  padding: 0;
  font-family: "BioRhyme", serif;
}
.App {
  background: #000;
}
.font {
  color: var(--primaryColor);
  text-shadow: 0px 0px 10px rgb(134 238 255 / 55%);
}
